body{
  width: 300px;
  height: 300px ;
  background-size: cover;
  background-image: url(house.png);

}

.character{
  width: 200px;
  height: 200px;
  position:absolute;
  bottom: 10%;
  left: 10%;
  background-image: url('realpika.png');
  background-size: cover;
}

.enemy {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0%;
  left: 70%;
  background-image: url('ciao.webp');
  background-size: cover;
}

.sfera {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 10%;
  left: 70%;
  background-image: url( bro.webp ) ;
  background-size: cover;
}

.go{
  animation: sfera 7s linear;

}
@keyframes sfera{
  100%{
  left: -20%;
  }
}

.jump{
  animation: jump 1000ms forwards;
}


@keyframes  jump {
    25%{
      bottom: 80%; 
    }
    50%{
      bottom: 5%;
      transform: rotate(-360deg);
    }
    100%{
      left: 70%
    }
}

body{
 background-image: url(house.png);

 background-size: auto 100vh;



 animation: move 7s linear infinite;

 
 
}

@keyframes move{
  0% {
    background-position: 0px 0 ;
  }
100%{
  background-position: -2000px 0;
}


 }


 .bad{

 }